@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Montserrat:wght@200&family=Noto+Sans:wght@200&family=Oswald:wght@300&family=Roboto+Slab:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(./photos/winter.jpg);
    width: cover;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
}

#company-logo{
    width: 125px;
    margin: 20px 0px 0px 20px;
    border-radius: 100px;
}

.header{
    background-color:#93dbc7a1 ;
    padding: 0px;
    margin: 0px;
}

.top-right-things{
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 40px;
}

button{
    border-radius: 20px;
    background-color: rgba(178, 182, 180, 0.867);
    border:none;
    color: white;
    font-size: 20px;
    width: 150px;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}

header, nav, main{
    padding: 20px 30px;
}