@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgb(123, 41, 246);
}

.text{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
    color: gray;
}

h1{
    font-size: 1.8em;
    margin-top: 1.3em;
}

img{
    width: 30em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.box{
    border: 1px solid rgba(0, 0, 0, 0.100);
    margin-left: 55em;
    margin-right: 55em;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    height: 42em;
}

.annual-plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FE;
    width: 23em;
    text-align: center;
    margin-left: 3em;
    border-radius: 20px;
}

.annual-plan svg{
    margin-right: 1.5em;
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: 13px;
    margin-right: 8em;
}

.payment p{
    color: gray;
    margin-top: -10px;
    font-size: 18.5px
}

button{
    border: none;
    background-color: #382AE1;
    border-radius: 20px;
    color: white;
    width: 23em;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(123, 41, 246);
}

h3{
    font-size: 17px;
    margin-top: 1.7em;
    color: gray;
    cursor: pointer;
}
