@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    background-color: #0D1A2D;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    font-family: 'Outfit', sans-serif;
}

.box{
    background-color: #15273F;
    box-shadow: 0px 3em 10px 10px #0C1729;
    width: 25em;
    height: 41em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img{
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.preview{
    position: fixed;
    position: absolute;
    left: 42.5em;
    top: 6.5em;
    width: 21.9em;
    border-radius: 10px;
    opacity: 0;
}

.preview:hover{
    opacity: 100;
    cursor: pointer;
}

.text{
    padding-left: 1.5em;
}

h1{
    font-size: 1.6em;
    margin-right: 6.7em;
}

h1:hover{
    color: #01FEFB;
    cursor: pointer;
}

h1:active{
    cursor: grab;
    text-decoration: none;
}

#paragraph{
    color: #7085A2;
    padding-right: 2.5em;
    font-size: 23px;
}

.ethereum{
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
    margin-top: -20px;
}

.ethereum-text{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #01FEFB;
    font-size: 16px;
}

.ethereum-text, h4{
    display: flex;
    justify-content: space-between;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

hr{
    margin-right: 2em;
    opacity: 10%;
}

#image{
    width: 2em;
    height: 2em;
    border: 2px solid white;
    border-radius: 100%;
    position: relative;
    top: 10px;
}

.user{
    float: left;
    display: flex;
    gap: 20px;
}

#user{
    color: #798CAA;
}

h4{
    color: #8BACD9;
}

#username:hover{
    color: #01FEFB;
    cursor: pointer;
}

