@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,900;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    background: hsl(204, 43%, 93%);
}

.bottom{
    display: flex;
    width: 45em;
    height: 15em;
}

.content{
    width: 45em;
    height: 30em;
    border: 1px dashed black;
    padding: 40px;
    background: whitesmoke;
}

.top h1{
    color: hsl(179, 62%, 43%);
}

.top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    padding-right: 5em;
    height: 10em;
}

.subscription{
    width: 100em;
}