*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
}

p{
    font-size: 6em;
}

h1{
    font-size: 3.5em;
    border: 2px solid black;
    width: 3.5em;
    text-align: center;
    height: 1.5em;
    padding: .2em;
    border-radius: 50px;
    transition: .5s;
}

h1:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .5s;
}

h1, p{
    font-weight: 600;
}
