@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Permanent+Marker&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Kaushan Script', sans-serif;
    align-items: center;
    justify-content: center;
    background: #000000; 
    background-image: url(public.avif);   
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fire {
  color: rgb(255, 115, 0);
  outline: none;
  stroke: #000000;
  text-shadow:
    0 0 20px crimson,
    0 0 20px crimson,
    0 0 10px crimson,
    5px -10px 10px orange,
    -5px -10px 10px yellow;
  animation: 2s amazing infinite alternate linear;
}

@keyframes amazing {
  0%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 10px orange,
    0 0 10px darkorange,
    -5px -5px 5px yellow,
    10px -10px 10px yellow; 
  }
  25%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 20px orange,
    -5px -5px 5px yellow,
    5px -10px 10px yellow,
    -5px -10px 10px yellow; 
  }
  50%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 10px orange,
    0 0 10px darkorange,
    -5px -5px 5px yellow,
    10px -10px 10px yellow; 
  }
  75%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 20px orange,
    -5px -5px 5px yellow,
    5px -10px 10px yellow,
    -5px -10px 10px yellow; 
  }
  100%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 10px orange,
    0 0 10px darkorange,
    -5px -5px 5px yellow,
    10px -10px 10px yellow; 
  }
}

#Lust{
    text-align: center;
}

p{
    font-size: xx-large;
}

h1{
    font-size: 90px;
    text-align: center;
}

#Heading{
    font-size: 150px;
}

button{
  size: 2em;
  font-size: x-large;
  border: none;
  background-color: rgba(220, 20, 60, 0.617);
  border-radius: 12px;
  font-family: 'Kaushan Script', sans-serif;
}
