@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap');

body{
    background-color: rgb(245, 208, 78);
    font-family: 'Figtree', sans-serif;
    text-transform: capitalize;
    overflow: hidden;
}

.box {
    width: 300px;
    height: 25em;
    border-radius: 5%;
    box-shadow: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.image{
    display: flex;
    justify-content: center;
    position: relative;
    top: 13.5em;
}

div{
    color: black;
}

div h3{
    color: black;
    background-color: rgb(245, 208, 78);
    position: relative;
    top: -18em;
    width: 5em;
    height: 1.7em;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-size: 1em
}

div h4{
    position: relative;
    top: -18.5em;
    font-weight: 300;
}

div h2{
    position: relative;
    top: -12.5em;
    font-family:'Figtree', sans-serif;
}

div h2:hover{
    color: rgb(245, 208, 78);
    cursor: pointer;
    width: 12em;
}

div p{
    color: #989898;
    position: relative;
    top: -20em;
    width: 21em;
    text-transform: capitalize;
    font-size: 17px;
}

div img{
    position: relative;
    top: -18.5em;
    width: 50px;
}

div h5{
    position: relative;
    top: -22.5em;
    left: 3em;
    font-size: 1em;
}

.texts{
    position: relative;
    left: 43.5em;
}